.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #343a40;
  color: white;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 100;
  font-size: 21px;
  font-weight: 500;
  font-family: serif;
}
