@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("../../images/Sun-Tornado.svg");
  background-attachment: fixed;
  background-size: cover;
}

.login__center {
  min-height: 450px;
  background-color: white;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}

.form__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__text {
  color: rgb(75, 35, 84);
  font-size: 18px;
  margin-top: 35px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
}

.form__fields > input {
  height: 44px;
  color: rgb(75, 35, 84);
  width: 240px;
  padding-left: 23px;
  padding-right: 20px;
  border-radius: 25px;
  margin-top: 25px;
  outline: none;
  border: 1px solid gray;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.form_fieldtext {
  font-size: 12px;
}

.login__formbtn {
  width: 135px;
  height: 50px;
  border-radius: 25px;
  outline: none;
  background-color: #2275e1;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 800;
}

.login__formbtn:hover {
  background-color: #1b99bf;
}

.form_fieldtext {
  font-size: 14px;
  font-weight: 500;
}
