@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.login__center {
  min-height: 550px;
  background-color: white;
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}

.form__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__text {
  color: rgb(75, 35, 84);
  font-size: 18px;
  margin-top: 35px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
}

.form__field__select {
  display: flex;
  flex-direction: column;
}

.form__fields > input {
  height: 44px;
  color: rgb(75, 35, 84);
  width: 280px;
  padding-left: 23px;
  padding-right: 20px;
  border-radius: 25px;
  margin-top: 25px;
  outline: none;
  border: 1px solid gray;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.form__field__select {
  margin-top: 15px;
}
.form_fieldtext {
  font-size: 12px;
}

.form__field__selectinputcart {
  width: 80%;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 25px;
  height: 44px;
  width: 280px;
  outline: none;
}
.login__formbtn {
  width: 175px;
  height: 50px;
  border-radius: 25px;
  outline: none;
  background-color: #bd59d4;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 800;
}

.login__formbtn:hover {
  background-color: #4d2456;
}

.form_fieldtext {
  font-size: 14px;
  font-weight: 500;
}
