@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.login {
  background-image: url("../../images/Sun-Tornado.svg");
  background-size: cover;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.login__center {
  min-height: 450px;
  background-color: white;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__heading {
  color: rgb(75, 35, 84);
  font-size: 22px;
  margin-top: 35px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
}

.form > input {
  height: 44px;
  color: rgb(75, 35, 84);
  width: 240px;
  padding-left: 23px;
  padding-right: 20px;
  border-radius: 25px;
  margin-top: 25px;
  outline: none;
  border: 1px solid gray;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.btn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 700;
}
.btn__SignIn {
  background-color: #2275e1;
}
.btn__SignUp {
  background-color: rgb(235, 3, 119);
}

.btn__SignUp:hover {
  background-color: white;
  border: 2px solid rgb(235, 3, 119);
  color: rgb(235, 3, 119);
}

.btn__SignIn:hover {
  background-color: white;
  border: 2px solid rgb(14, 161, 220);
  color: rgb(14, 161, 220);
}
