.thankyou__text {
  height: 200px;
  background-color: hsl(0, 8%, 91%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: serif;
  font-weight: 800;
  font-size: 34px;
}

.thankyou__button {
  margin-left: 150px;
  margin-top: 75px;
}

.thankyoubtn {
  width: 500px;
  height: 50px;
  font-family: serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
  background-color: #1e9638;
  border-radius: 2px;
  border: 1px solid;
  border-color: #1e9638 #1e9638 #1e9638;
  cursor: pointer;
  outline: none;
}
.thankyoubtn:hover {
  background-color: #17722b;
}
